.newform {

  width: 1300px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid #cecbc5;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 80px;
}
.label {
  width: 80px;
  height: 25px;
  left: 162px;
  top: 172px;
  color: #e6af2e;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: 150px;
  margin-top: 5%;
  margin-right: 30%;
}
input > #image_url {
  width: 100%;
}

#title,
#category,
#image_url,
#author,
#published_date {
  width: 420px;
  height: 72px;
  left: 162px;
  top: 219px;
  border-color: #d9d9d9;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
}
select option {
  font-size: 20px;
  font-family: "Poppins";
}
.addbook-area {
  border-color: #d9d9d9;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 10px 60px;
}
#button1 {
  background: #95290b;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  margin-left: 45%;
  border-style: none;
  padding: 10px 30px;
  margin-bottom: 50px;
}
.addbook {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 0.1rem;
  color: #f0f7f4;
}
