#book-image > img{
    position: relative;
    display: grid;
    width: 544px;
    height: 780px;
    left: 25px;
    top: 10px;
    border-radius: 15px 0px 0px 15px;
}

#book-body{
    position: absolute;
    width: 730px;
    height: 640px;
    left: 612px;
    /* top: 395px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: black;
}

#book-body > h1{
    text-align: left;
    color: #95290B;
    font-weight: 700;
}
#book-body > h2{
    text-align: left;
    margin-left: auto;
    font-weight: 700;
    line-height: 36px;
}

#book-body > p{
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    text-align: justify;
}

#review-btn{
    position: absolute;
    color: white;
    width: 200px;
    height: 68px;
    left: 722px;
    top: 650px;
    background: #95290B;
    border-radius: 20px;
}

#favourite-btn{
    position: absolute;
    color: white;
    width: 100px;
    height: 68px;
    left: 1002px;
    top: 650px;
    background: #95290B;
    border-radius: 20px;
}

.book-buttons{
    display:inline-block;
}