#book-image{
    position: absolute;
    width: 544px;
    height: 860px;
    left: 23px;
    top: 369px;
    background: url("https://robohash.org/laborepariaturrepellat.png?size=300x300&set=set1");
    border-radius: 15px 0px 0px 15px;
}

#book-body{
    position: absolute;
    width: 862px;
    height: 710px;
    left: 612px;
    top: 395px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #95290B;
}

#review-btn{
    position: absolute;
    color: white;
    width: 256px;
    height: 68px;
    left: 620px;
    top: 1123px;
    background: #95290B;
    border-radius: 20px;
}

#favourite-btn{
    position: absolute;
    color: white;
    width: 256px;
    height: 68px;
    left: 1075px;
    top: 1123px;
    background: #95290B;
    border-radius: 20px;
}