:root {
  --mint-cream: #f0f7f4;
  --goldenRod: #e6af2e;
  --kobe: #95290b;
}

h2{
    text-align: center;
}

.container{
  margin-top: 10px;
}

.review{
    padding: 20px 10px;
    border-style: none;
    border-radius: 20px;
    background-color: #FBF5F3;
}

  .btn-container button{
    background: transparent;
    border: none;
  }

  .name-row{
    display: flex;
    justify-content: space-between;
  }

  .name-row h4{
    font-size: 16px;
    line-height: 24px;
    margin-left: -880px;
    margin-top: 23px;
  }

  .btn-ic1{
    color: var(--goldenRod);
    padding-left:10px;
    font-size: 16px;
  }

  .btn-ic2{
    color: var(--kobe);
    padding-left:10px;
    font-size: 16px;
  }

  .pic{
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    margin-top: auto;
  }

