@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
:root {
  --mint-cream: #f0f7f4;
  --goldenRod: #e6af2e;
  --kobe: #95290b;
}

/* start of general styles */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--mint-cream);
}
/* end of general styles */

.hero-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--goldenRod);
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 100px;
}
.hero-section-container > div {
  flex: 50%;
}
.hero-section-text {
  margin-left: 100px;
}

.hero-section-text > h2 {
  color: var(--kobe);
  text-align: left;
  font-weight: bold;
  line-height: 3;
}

.hero-section-text > p {
  font-weight: 600;
}
.view-btn {
  border-style: none;
  padding: 10px 40px;
  background-color: var(--kobe);
  border-radius: 10px;
  color: var(--mint-cream);
  font-weight: 600;
}

.hero-section-image {
  width: 30%;
}

.hero-section-image > img {
  width: 50%;
  width: 300px;
  height: 400px;
  display: block;
  margin: 0 auto;
}
/* Styles for bookList */
.book-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  grid-gap: 30px;
  padding: 10px 10px 10px 10px;
}

#bookList-heading {
  text-align: center;
  position: relative;
  margin-top: 100px;
}
#bookList-heading::after {
  content: "";
  border-bottom: 2px solid var(--kobe);
  position: absolute;
  width: 14%;
  left: 43%;
  top: 35px;
}
/* End for bookList */

/* Styles of Bookcard */
.book-card {
  background-color: var(--goldenRod);
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.book-card > h4 {
  padding: 5px 10px 3px 5px;
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.book-card > h4:hover {
  color: var(--mint-cream);
  text-decoration: underline;
}

.book-card > p {
  padding: 3px 5px 3px 5px;
  font-weight: lighter;
  font-size: 12px;
}
.book-card .fa-star {
  padding: 5px 10px 5px 10px;
}

.book-card > img {
  display: block;
  width: 100%;
  height: 420px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* End of styles of BookCard */

/* Styles of fa-star */
.fa-star {
  color: var(--kobe);
}
/* End of fa-star */

@media only screen and (max-width: 790px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .book-list {
    display: block;
    width: 100%;
  }

  .book-card {
    width: 100%;
    margin-bottom: 80px;
    height: fit-content;
  }

  .book-card > img {
    width: 100%;
  }
}

@media only screen and (max-width: 820px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
