@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
:root {
  --mint-cream: #f0f7f4;
  --goldenRod: #e6af2e;
  --kobe: #95290b;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--mint-cream);
}

/* Styles for bookList */
.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  grid-gap: 50px;
  padding: 10px 10px 10px 10px;
}

#bookList-heading {
  text-align: center;
  position: relative;
  margin-top: 100px;
}
#bookList-heading::after {
  content: "";
  border-bottom: 2px solid var(--kobe);
  position: absolute;
  width: 14%;
  left: 43%;
  top: 35px;
}
/* End for bookList */

/* Styles of Bookcard */
.book-card {
  background-color: var(--goldenRod);
  width: 78%;
  height: fit-content;
  border-radius: 10px;
}

.book-card > h4 {
  padding: 5px 10px 3px 5px;
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.book-card > h4:hover {
  border-bottom: 2px solid var(--kobe);
}

.book-card > p {
  padding: 3px 5px 3px 5px;
  font-weight: lighter;
  font-size: 12px;
}
.book-card .fa-star {
  padding: 5px 10px 5px 10px;
}

.book-card > img {
  display: block;
  width: 320px;
  height: 420px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* End of styles of BookCard */

/* Styles of fa-star */
.fa-star {
  color: var(--kobe);
}
/* End of fa-star */
@media only screen and (max-width: 800px) {
  .book-list {
    display: block;
  }

  .book-card {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 80px;
    height: fit-content;
  }

  .book-card > img {
    width: 100%;
  }
}
